version: 2.1

executors:
  python37:
    docker:
      - image: circleci/python:3.7

jobs:
  fetch_data:
    executor: python37
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "requirements.txt" }}
      - run:
          name: Install dependencies
          command: |
            python -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "requirements.txt" }}
      - run:
          name: Run tests
          command: |
            . venv/bin/activate
            nosetests .
      - run:
          name: Remove existing data files
          command: |
            rm data/{repertoires,organisations,packages}/csv/*.csv
            rm data/{repertoires,organisations,packages}/json/*.json
      - run:
          name: Build CSV
          command: |
            . venv/bin/activate
            python fetch.py
            python stats.py
      - persist_to_workspace:
          root: .
          paths:
            - data
  push_data:
    executor: python37
    steps:
      - checkout
      - attach_workspace:
          at: /tmp
      - add_ssh_keys:
          fingerprints:
            - "ce:d5:71:c4:c6:a0:44:34:5a:cf:11:e5:da:48:aa:70"
      - run:
          name: Set Git identity
          command: |
            git config --global user.email "robot@circleci.com"
            git config --global user.name "CircleCI"
      - run:
          name: Push to GitHub
          command: |
            rm -rf data
            mv /tmp/data data
            if [ -n "$(git status --porcelain)" ]; then
              git add -A data
              git commit -m "New data at $(date -u +'%Y-%m-%dT%H:%M:%SZ') [ci skip]"
              git push origin master
            else
              echo "No changes";
            fi

workflows:
  version: 2
  fetch_and_push:
    jobs:
      - fetch_data
      - push_data:
          requires:
            - fetch_data
          filters:
            branches:
              only: master
  cron:
    triggers:
      - schedule:
          cron: "20 7,11,15,19 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - fetch_data
      - push_data:
          requires:
            - fetch_data
