version: 2

jobs:
  fetch_data:
    docker:
      - image: circleci/python:3.6
    working_directory: ~/repo
    steps:
      - checkout:
          path: ~/repo
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "requirements.txt" }}
      - run:
          name: Install dependencies
          command: |
            python -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "requirements.txt" }}
      - run:
          name: Remove existing data files
          command: |
            rm data/{repertoires,organisations}/csv/*.csv
            rm data/{repertoires,organisations}/json/*.json
      - run:
          name: Build CSV
          command: |
            . venv/bin/activate
            python fetch.py
      - add_ssh_keys:
          fingerprints:
            - "ce:d5:71:c4:c6:a0:44:34:5a:cf:11:e5:da:48:aa:70"
      - run:
          name: Set Git identity
          command: |
            git config --global user.email "robot@circleci.com"
            git config --global user.name "CircleCI"
      - run:
          name: Push to GitHub
          command: |
            if [ -n "$(git status --porcelain)" ]; then
              git add -u data
              git commit -m "New data at $(date -u +'%Y-%m-%dT%H:%M:%SZ')"
              git push origin master
            else
              echo "No changes";
            fi

workflows:
  version: 2
  commit:
    jobs:
      - fetch_data
  cron:
    triggers:
      - schedule:
          cron: "20 7,11,15,19 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - fetch_data
